---
import Head from '@/templates/Head.astro'
import '@/styles/global.css'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---
<html lang="en">
<Head title={title} description={description}/>
<body class="bg-background-color text-primary-color font-inter max-w-2xl m-auto min-h-screen p-6 pt-6">
   <slot/> 
</body>
</html>