---
import JavascriptIcon from '@/icons/JavascriptIcon.astro'
import AstroIcon from '@/icons/AstroIcon.astro'
import ReactIcon from '@/icons/ReactIcon.astro'
import Title from '@/ui/Title.astro'
---

<section>
  <Title>Skills</Title>
  <div class="grid grid-cols-5 gap-1">
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <JavascriptIcon />
      <span class="text-xs ml-2">Javascript</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <AstroIcon />
      <span class="text-xs ml-2">Astro.js</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <ReactIcon />
      <span class="text-xs ml-2">React.js</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <JavascriptIcon />
      <span class="text-xs ml-2">Javascript</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <AstroIcon />
      <span class="text-xs ml-2">Astro.js</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <ReactIcon />
      <span class="text-xs ml-2">React.js</span>
    </div>
  </div>
</section>
