---
import AstroIcon from '@/skills/Astro.astro'
import AwsIcon from '@/skills/AWS.astro'
import BashIcon from '@/skills/Bash.astro'
import CssIcon from '@/skills/CSS.astro'
import DockerIcon from '@/skills/Docker.astro'
import GitIcon from '@/skills/Git.astro'
import HtmlIcon from '@/skills/HTML.astro'
import JavascriptIcon from '@/skills/Javascript.astro'
import MongoDBicon from '@/skills/MongoDB.astro'
import NextIcon from '@/components/Icons/Skills/Next.astro'
import PythonIcon from '@/skills/Python.astro'
import ReactIcon from '@/skills/React.astro'
import TailwindIcon from '@/skills/Tailwind.astro'
import TypescriptIcon from '@/skills/Typescript.astro'
import VercelIcon from '@/skills/Vercel.astro'

import Title from '@/ui/Title.astro'
---

<section>
  <Title>Skills</Title>
  <div class="grid grid-cols-5 gap-1">
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <AstroIcon />
      <span class="text-xs ml-2">Astro</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <AwsIcon />
      <span class="text-xs ml-2">AWS</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <BashIcon />
      <span class="text-xs ml-2">Bash</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <CssIcon />
      <span class="text-xs ml-2">CSS</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <DockerIcon />
      <span class="text-xs ml-2">Docker</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <GitIcon />
      <span class="text-xs ml-2">Git</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <HtmlIcon />
      <span class="text-xs ml-2">HTML</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <JavascriptIcon />
      <span class="text-xs ml-2">Javascript</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <MongoDBicon />
      <span class="text-xs ml-2">MongoDB</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <NextIcon />
      <span class="text-xs ml-2">Next</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <PythonIcon />
      <span class="text-xs ml-2">Python</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <ReactIcon />
      <span class="text-xs ml-2">React</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <TailwindIcon />
      <span class="text-xs ml-2">Tailwind</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <TypescriptIcon />
      <span class="text-xs ml-2">Typescript</span>
    </div>
    <div
      class="flex items-center justify-start border px-2 py-3 border-black rounded mb-2"
    >
      <VercelIcon />
      <span class="text-xs ml-2">Vercel</span>
    </div>
  </div>
</section>
