---
import TranslateIcon from '@/icons/TranslateIcon.astro'
---

<footer class="text-xs flex text-center font-mono mt-8 px-4 py-2">
  <p class="flex-grow text-left text-gray-600 dark:text-gray-300">
    Developed by
    <a href="https://github.com/6loccee" class="border-b border-gray-400 dark:border-gray-400 hover:border-black dark:hover:border-gray-100">Martin Aranda</a>
  </p>
  <div class="flex transition-transform hover:rotate-12">
    <TranslateIcon />
  </div>
</footer>