---
import TranslateIcon from '@/icons/TranslateIcon.astro'
---

<footer class="text-xs flex text-center font-mono mt-8 px-4 py-2">
  <p class="flex-grow text-left text-[#ccc]">
    Developed by
    <a href="https://github.com/6loccee" class="underline decoration-0 text-white">Martin Aranda</a>
  </p>
  <div class="flex">
    <TranslateIcon />
  </div>
</footer>
