---
import Layout from '@/templates/Layout.astro'
---

<Layout title='404 ─ This page could not be found.'>
  <div class="flex justify-center items-center">
    <span class="font-mono px-4 text-lg border-r tracking-wider"> 404 </span>
    <span class="ml-4 text-xl tracking-wider"> Not Found </span>
</div>
</Layout>