---
import Navbar from "@/components/Navbar.astro";
import "@/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>Martin Aranda ─ Dev</title>
	</head>
	<body>
		<main class="max-w-2xl m-auto min-h-screen p-6 pt-6">
			<Navbar />
		</main>
	</body>
</html>
