---
import GithubIcon from "@/icons/GithubIcon.astro";
---

<footer class="text-xs flex text-center font-mono mt-8">
  <p class="flex-grow text-left">
    Designed and Developed by <span class="underline decoration-0">Martin Aranda</span>
  </p>
  <div class="flex px-4 py-2 rounded-md transition-background duration-150 ease-in hover:bg-gray">
    <a href="https://github.com/6loccee/Portfolio" class="mr-2">Source</a>
    <GithubIcon/>
  </div>
</footer>