---
import Navigation from '@/components/Navigation.astro'
import SunMon from '@/icons/SunMon.astro'
---

<header class="flex items-center mt-8">
  <span class="text-2xl font-semibold">loccee</span>
  <nav class="flex justify-end grow">
    <div class="md:flex hidden">
      <Navigation redirect="/about" underlineColor="decoration-blue"> /about </Link>
      <Navigation redirect="/projects" underlineColor="decoration-green"> /projects </Link>
      <Navigation redirect="/skills" underlineColor="decoration-red"> /skills </Link>
    </div>
    <button class="flex items-center ml-5 px-4 py-2 rounded-md bg-darkGray transition-background duration-150 ease-in hover:bg-gray">
      <SunMon />
    </button>
  </nav>
</header>