---
import TranslateIcon from "@/icons/TranslateIcon.astro";
import Navigation from "@/components/Navigation.astro";
---

<header class="flex items-center mt-8">
  <span class="text-2xl font-semibold">loccee</span>
  <nav class="flex justify-end grow">
    <div class="md:flex hidden">
      <Navigation redirect="/about" tailwind="decoration-blue"> /about </Link>
      <Navigation redirect="/projects" tailwind="decoration-green"> /projects </Link>
      <Navigation redirect="/skills" tailwind="decoration-red"> /skills </Link>
    </div>
    <button class="flex items-center ml-5 px-4 py-2 rounded-md bg-[#1c1c1c]">
      <TranslateIcon />
    </button>
  </nav>
</header>